.room {
	border: 5px solid white;
	background-size: cover;
}

.furniture {
	position: absolute;
	background-size: cover;
	-webkit-transition: transform 1s;
	transition: transform 1s;
}

html, body, .container-table {
    height: 100%;
}

body {
	background-image: url(../img/stars.png);
}
.container-table {
    display: table;
}
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.middle {
	 vertical-align: middle;
	 display:flex;
}